<h1>Login</h1>
<form action="/administracja/logowanie" method="POST">
    <input type="text" name="username" placeholder="login">
    <input type="password" name="password" placeholder="hasło">
    <button>Zaloguj</button>
</form>