<h1>Dodaj Użytkownika:</h1>
<form action="/administracja/register" method="POST">
    <input type="text" name="username" placeholder="login">
    <input type="password" name="password" placeholder="hasło">
    <input type="text" name="email" placeholder="email">
    <button>Dodaj</button>
</form>