<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>System Zapisów na przygotowanie do bierzmowania - parafia Kurdwanów</title>
    <link rel="stylesheet" href="landing.css">
    <link href="https://fonts.googleapis.com/css?family=Chonburi|Montserrat|Wendy+One" rel="stylesheet">
</head>
<body>
    <!--<img src="/images/svg_3.svg" id="one" class="left-menu">-->
    <img src="/images/svg_4.svg" id="two" class="left-menu">
    <img src="/images/svg_6.svg" id="three" class="left-menu">
    <img src="/images/svg_8.svg" id="four" class="left-menu">
    <header>
        <h1>Bierzmowanie Kurdwanów</h1>
        <h2>Zapisy na semestr 2018/19 - <span class="important">ruszają w połowie sierpnia!</span></h2>
            <ul>
                <li><a href="/zapisy/pierwszy-rok">klasy VII szkoły podstawowej</a></li>
                <li><a href="/zapisy/drugi-rok">klasy VIII szkoły podstawowej</a></li>
                <li><a href="/zapisy/trzeci-rok">klasy III gimnazjum</a></li>
            </ul>
        <h3>
            <ul>
                <li><a href="https://www.bierzmowani.pl/index.php?option=com_content&view=article&id=5&Itemid=114#accordion">poradnik na bierzmowani.pl</a></li>
                <li><a href="http://www.krakow-kurdwanow.parafia.info.pl">Strona Parafii</a></li>
            </ul>
    </header>
    

</body>
</html>