<% include ../partials/succesheader %>
    <div style="color:<%=color-%>;"><%-message%></div>
    <button type="button" class="btn btn-light" onclick=location.href='/';>powrót</button>
    <script>
        
    </script>
<% include ../partials/formfooter %>