<% include ../partials/succesheader %>
    <p style="color:<%=color-%>; font-size: 30px"><%=message%></p>
    <button type="button" class="btn btn-light" onclick=location.href='/';>powrót</button>
    <script>
        console.log(window.location);
    </script>
<% include ../partials/formfooter %>